<table border=0 width="100%"><tr><td><p align="left"><img src="Images/logo.png" align="left" width=300></p></td><td><font size=5><B>Python程序设计与应用</B></font></td></tr></table>

# <div align='center'>第五部分 列表、元组和集合</div>

## 知识点
- 列表的定义和基本使用。
- 二维列表。
- 元组的定义和基本使用。
- 集合的定义和基本使用。
- Numpy的基本使用。（扩展部分）

## 预习
* 第6章：组合数据类型

在能够开始编写程序之前，还有一个主题需要理解，那就是列表数据类型、元组和集合。列表和元组可以包含多个值，这样编写程序来***处理大量数据***就变得更容易。而且，由于列表本身又可以包含其他列表，所以可以用它们将数据安排成层次结构。

如果把布尔型、整形、浮点型这些数据类型看作组成Python的原子，那么本部分将要提到的数据结构就像分子一样。

## 1. 序列类型

计算机不仅对单个变量表示的数据进行处理，更多情况，计算机需要对一组数据进行批量处理。一些例子包括：
* 处理计算机中一组文件；
* 统计一组问卷调查结果；
* 给定一组工资基本信息，计算应纳个人所得税；
* 给定一个学院学生信息，统计一下男女生比例；
* 一次实验产生了很多组数据，对这些大量数据进行分析；

序列类型是组合数据类型的一类，能够将多个同类型或不同类型的数据组织起来，通过单一的表示使数据操作更有序更容易。

序列类型是一个元素向量，元素之间存在***先后关系**，通过序号访问，元素之间***不排他***。

由于元素之间存在顺序关系，所以序列中可以存在相同数值但位置不同的元素。序列类型支持成员关系操作符（in）、长度计算函数（len()）、分片（[]），元素本身也可以是序列类型。

Python中的主要序列类型：
* str（字符串）:由字符构成的序列;
* list（列表）:一个***可以修改数据项***的序列类型，使用也最灵活;
* tuple（元组）:包含0个或多个数据项的***不可变***序列类型。元组生成后是固定的，其中任何数据项不能替换或删除。
<img src="Images/indexExample.png" width=80%>

序列类型有12个通用的操作符和函数:

|操作符|描述|
|:----:|:----------|
|**x in s**|如果x是s的元素，返回True，否则返回False|
|**x not in s**|如果x不是s的元素，返回True，否则返回False|
|**s + t**|连接s和t||
|**s \* n 或 n \* s**|将序列s复制n次|
|**s[i]**|索引，返回序列的第i个元素|
|**s[i: j]**|分片，返回包含序列s第i到j个元素的子序列（不包含第j个元素）|
|**s[i: j: k]**|步骤分片，返回包含序列s第i到j个元素以j为步数的子序列|
|**len(s)**|序列s的元素个数（长度）|
|**min(s)**|序列s中的最小元素|
|**max(s)**|序列s中的最大元素|
|**s.index(x[, i[, j]])**|序列s中从i开始到j位置中第一次出现元素x的位置|
|**s.count(x)**|序列s中出现x的总次数|

## 2. 序列类型：列表
“列表”是一个值，它包含多个值构成的序列。术语“列表值”指的是列表本身（它作为一个值，可以保存在变量中，或传递给函数，像所有其他值一样），而
不是指列表值之内的那些值。列表值看起来像这样：['西南财经大学', '电子科技大学', '四川大学', '西南交通大学']。就像字符串值用引号来标记字符串的起止一样，***列表用左方括号开始，右方括号结束，即[ ]***。列表中的值也称为“表项”。表项用***逗号分隔***（就是说，它们是“逗号分隔的”）。

列表的长度和内容都是**可变的**，可自由对列表中数据项进行增加、删除或替换。列表没有长度限制，元素类型可以不同，使用非常灵活。

由于列表属于序列类型，所以列表也支持成员关系操作符（in）、长度计算函数（len()）、分片（[]）。

列表可以同时使用正向递增序号和反向递减序号，可以采用标准的比较操作符（<、<=、==、!=、>=、>）进行比较，列表的比较实际上是单个数据项的逐个比较。

**列表的操作**

|函数或方法|描述|
|:---:|:----------|
|ls[i] = x|	替换列表ls第i数据项为x|
|ls[i: j] = lt|	用列表lt替换列表ls中第i到j项数据（不含第j项，下同）|
|ls[i: j: k] = lt|用列表lt替换列表ls中第i到j以k为步的数据|
|del ls[i: j]|删除列表ls第i到j项数据，等价于ls[i: j]=[]|
|del ls[i: j: k]|删除列表ls第i到j以k为步的数据|
|ls += lt或ls.extend(lt)|将列表lt元素增加到列表ls中|
|ls \*= n|更新列表ls，其元素重复n次|
|ls.append(x)|在列表ls最后增加一个元素x|
|ls.clear()|删除ls中所有元素|
|ls.copy()|生成一个新列表，复制ls中所有元素|
|ls.insert(i, x)|在列表ls第i位置增加元素x|
|ls.pop(i)|将列表ls中第i项元素取出并删除该元素||
|ls.remove(x)|将列表中出现的第一个元素x删除|
|ls.reverse(x)|列表ls中元素反转|

## 2.1 用下标取得列表中的单个值
列表用中括号（[]）表示，通过下标取单个值，下标只能是整数，不能是浮点值。下标就是元素在列表中的偏移量。

In [1]:
universityList = ['西南财经大学', '电子科技大学', '四川大学', '西南交通大学']
universityList

['西南财经大学', '电子科技大学', '四川大学', '西南交通大学']

In [2]:
universityList[0]

'西南财经大学'

In [3]:
universityList[1]

'电子科技大学'

In [4]:
universityList[1][1]

'子'

如果使用的下标超出了列表中值的个数，Python 将给出IndexError 出错信息。

In [5]:
universityList[4]

IndexError: list index out of range

列表也可以包含其他列表值。这些列表的列表中的值，可以通过多重下标来访问，像这样：

In [9]:
# 编号,姓名,基本工资,奖金,住房补助,五险一金,其他扣款,专项附加扣除
incomeList = [
    ['10932','张珊',15000.00 ,4000.00 ,2300.00 ,980.00 ,300.00 ,1000.00],
    ['10933','李思',12000.00 ,5000.00 ,2600.00 ,890.00 ,400.00 ,2000.00],
    ['10934','王武',10100.00 ,2000.00 ,2500.00 ,860.00 ,500.00 ,1500.00],
    ['10935','赵柳',10050.00 ,1000.00 ,2700.00 ,1080.00 ,300.00 ,2000.00],
    ['10936','钱棋',10200.00 ,2000.00 ,2400.00 ,1000.00 ,600.00 ,1000.00],
    ['10941','张明',13600.00 ,4000.00 ,2100.00 ,680.00 ,300.00 ,1000.00],
    ['10942','赵敏',13200.00 ,2500.00 ,2300.00 ,670.00 ,400.00 ,3000.00],
    ['10945','王红',13600.00 ,2600.00 ,2030.00 ,560.00 ,400.00 ,2000.00],
    ['10946','李萧',12500.00 ,2800.00 ,2400.00 ,420.00 ,500.00 ,1500.00],
    ['10947','孙科',12000.00 ,3500.00 ,2030.00 ,880.00 ,300.00 ,1000.00],
    ['10948','刘利',14200.00 ,2500.00 ,2020.00 ,900.00 ,400.00 ,2000.00]
]

In [8]:
incomeList

[['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0],
 ['10933', '李思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0],
 ['10936', '钱棋', 10200.0, 2000.0, 2400.0, 1000.0, 600.0, 1000.0],
 ['10941', '张明', 13600.0, 4000.0, 2100.0, 680.0, 300.0, 1000.0],
 ['10942', '赵敏', 13200.0, 2500.0, 2300.0, 670.0, 400.0, 3000.0],
 ['10945', '王红', 13600.0, 2600.0, 2030.0, 560.0, 400.0, 2000.0],
 ['10946', '李萧', 12500.0, 2800.0, 2400.0, 420.0, 500.0, 1500.0],
 ['10947', '孙科', 12000.0, 3500.0, 2030.0, 880.0, 300.0, 1000.0],
 ['10948', '刘利', 14200.0, 2500.0, 2020.0, 900.0, 400.0, 2000.0]]

## 2.2 负数下标
虽然下标从0 开始并向上增长，但也可以用负整数作为下标。整数值−1 指的是列表中的最后一个下标，−2 指的是列表中倒数第二个下标，以此类推。

In [10]:
incomeList[-1]

['10948', '刘利', 14200.0, 2500.0, 2020.0, 900.0, 400.0, 2000.0]

In [11]:
incomeList[-11]

['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0]

In [12]:
incomeList[0]

['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0]

In [13]:
incomeList[-20]

IndexError: list index out of range

在不计算列表长度的情况下，利用负数下标取倒数的值很方便。

## 2.3 利用切片取得子列表
就像下标可以从列表中取得单个值一样，“**切片**”可以从列表中取得多个值，***结果是一个新列表***。切片输入在一对方括号中，像下标一样，但它有两个**冒号分隔**的整数。请注意下标和切片的不同。

* incomeList[2]是一个列表和下标（一个整数）。
* incomeList[1:4]是一个列表和切片（两个整数）。

在一个切片中，第一个整数是切片开始处的下标。第二个整数是切片结束处的下标。切片向上增长，直至第二个下标的值，***但不包括它***。切片求值为一个新的列表值。

In [14]:
incomeList

[['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0],
 ['10933', '李思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0],
 ['10936', '钱棋', 10200.0, 2000.0, 2400.0, 1000.0, 600.0, 1000.0],
 ['10941', '张明', 13600.0, 4000.0, 2100.0, 680.0, 300.0, 1000.0],
 ['10942', '赵敏', 13200.0, 2500.0, 2300.0, 670.0, 400.0, 3000.0],
 ['10945', '王红', 13600.0, 2600.0, 2030.0, 560.0, 400.0, 2000.0],
 ['10946', '李萧', 12500.0, 2800.0, 2400.0, 420.0, 500.0, 1500.0],
 ['10947', '孙科', 12000.0, 3500.0, 2030.0, 880.0, 300.0, 1000.0],
 ['10948', '刘利', 14200.0, 2500.0, 2020.0, 900.0, 400.0, 2000.0]]

In [15]:
incomeList[1:4]

[['10933', '李思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0]]

作为快捷方法，你可以省略切片中冒号两边的一个下标或两个下标。

* 省略第一个下标相当于使用0，或列表的开始；
* 省略第二个下标相当于使用列表的长度，意味着分片直至列表的末尾。

In [16]:
incomeList[1:]

[['10933', '李思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0],
 ['10936', '钱棋', 10200.0, 2000.0, 2400.0, 1000.0, 600.0, 1000.0],
 ['10941', '张明', 13600.0, 4000.0, 2100.0, 680.0, 300.0, 1000.0],
 ['10942', '赵敏', 13200.0, 2500.0, 2300.0, 670.0, 400.0, 3000.0],
 ['10945', '王红', 13600.0, 2600.0, 2030.0, 560.0, 400.0, 2000.0],
 ['10946', '李萧', 12500.0, 2800.0, 2400.0, 420.0, 500.0, 1500.0],
 ['10947', '孙科', 12000.0, 3500.0, 2030.0, 880.0, 300.0, 1000.0],
 ['10948', '刘利', 14200.0, 2500.0, 2020.0, 900.0, 400.0, 2000.0]]

In [17]:
incomeList[:-3]

[['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0],
 ['10933', '李思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0],
 ['10936', '钱棋', 10200.0, 2000.0, 2400.0, 1000.0, 600.0, 1000.0],
 ['10941', '张明', 13600.0, 4000.0, 2100.0, 680.0, 300.0, 1000.0],
 ['10942', '赵敏', 13200.0, 2500.0, 2300.0, 670.0, 400.0, 3000.0],
 ['10945', '王红', 13600.0, 2600.0, 2030.0, 560.0, 400.0, 2000.0]]

## 2.4 用len()取得列表的长度
len()函数将返回传递给它的列表中值的个数，就像它能计算字符串中字符的个数一样。

In [18]:
len(incomeList)

11

In [19]:
len(incomeList[0])

8

## 2.5 用下标和切片改变列表中的值
一般情况下，赋值语句左边是一个变量名，就像price = 4.00。但是，也可以使用列表的下标来改变下标处的值。

In [20]:
universityList

['西南财经大学', '电子科技大学', '四川大学', '西南交通大学']

In [21]:
universityList[0] = '西南财大'

In [22]:
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学']

In [23]:
incomeList

[['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0],
 ['10933', '李思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0],
 ['10936', '钱棋', 10200.0, 2000.0, 2400.0, 1000.0, 600.0, 1000.0],
 ['10941', '张明', 13600.0, 4000.0, 2100.0, 680.0, 300.0, 1000.0],
 ['10942', '赵敏', 13200.0, 2500.0, 2300.0, 670.0, 400.0, 3000.0],
 ['10945', '王红', 13600.0, 2600.0, 2030.0, 560.0, 400.0, 2000.0],
 ['10946', '李萧', 12500.0, 2800.0, 2400.0, 420.0, 500.0, 1500.0],
 ['10947', '孙科', 12000.0, 3500.0, 2030.0, 880.0, 300.0, 1000.0],
 ['10948', '刘利', 14200.0, 2500.0, 2020.0, 900.0, 400.0, 2000.0]]

In [24]:
incomeList[1][1] = '李思思'

In [25]:
incomeList

[['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0],
 ['10933', '李思思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0],
 ['10936', '钱棋', 10200.0, 2000.0, 2400.0, 1000.0, 600.0, 1000.0],
 ['10941', '张明', 13600.0, 4000.0, 2100.0, 680.0, 300.0, 1000.0],
 ['10942', '赵敏', 13200.0, 2500.0, 2300.0, 670.0, 400.0, 3000.0],
 ['10945', '王红', 13600.0, 2600.0, 2030.0, 560.0, 400.0, 2000.0],
 ['10946', '李萧', 12500.0, 2800.0, 2400.0, 420.0, 500.0, 1500.0],
 ['10947', '孙科', 12000.0, 3500.0, 2030.0, 880.0, 300.0, 1000.0],
 ['10948', '刘利', 14200.0, 2500.0, 2020.0, 900.0, 400.0, 2000.0]]

也可以使用切片同时改变多个值:

In [37]:
universityList

['西南财大', '四川大学', '西南交通大学']

In [39]:
universityList[1:3] = ['川大','西南交大']
universityList

['西南财大', '川大', '西南交大']

当使用一个列表改变另一个列表值时，Python不要求两个列表长度一样，但遵循“多增少减”的原则，例子如下：

In [40]:
universityList

['西南财大', '川大', '西南交大']

In [41]:
universityList[1:3] = ['四川大学','西南交通大学','电子科技大学','成都理工大学']
universityList

['西南财大', '四川大学', '西南交通大学', '电子科技大学', '成都理工大学']

In [42]:
universityList[1:5]

['四川大学', '西南交通大学', '电子科技大学', '成都理工大学']

In [43]:
universityList[1:5] = ['四川大学', '西南交通大学']
universityList

['西南财大', '四川大学', '西南交通大学']

# 2.6 列表连接和列表复制
**+**操作符可以连接两个列表，得到一个新列表，就像它将两个字符串合并成一个新字符串一样。

**\***操作符可以用于一个列表和一个整数，实现列表的复制。

In [26]:
[1, 2, 3] + ['A', 'B', 'C']

[1, 2, 3, 'A', 'B', 'C']

In [27]:
['X', 'Y', 'Z'] * 3

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [28]:
ls =  ['A', 'B', 'C']
ls += [1, 2, 3] 
ls

['A', 'B', 'C', 1, 2, 3]

## 2.7 用del 语句从列表中删除值
del 语句将删除列表中下标处的值，表中被删除值后面的所有值，都将向前移动一个下标。

In [29]:
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学']

In [30]:
del universityList[1]

In [31]:
universityList

['西南财大', '四川大学', '西南交通大学']

## 2.8 用list()函数产生列表

In [32]:
emptyList = list()
emptyList

[]

In [33]:
emptyList = []
emptyList

[]

In [34]:
vList = list(range(5))
vList

[0, 1, 2, 3, 4]

In [36]:
alphaList = list('swufe')
alphaList

['s', 'w', 'u', 'f', 'e']

## 2.9 列表用于循环
一个常见的Python 技巧，是在for 循环中使用range(len(someList))，迭代列表的每一个下标。

计算所有人的基本工资之和：

In [103]:
# 编号,姓名,基本工资,奖金,住房补助,五险一金,其他扣款,专项附加扣除
incomeList = [
    ['10932','张珊',15000.00 ,4000.00 ,2300.00 ,980.00 ,300.00 ,1000.00],
    ['10933','李思',12000.00 ,5000.00 ,2600.00 ,890.00 ,400.00 ,2000.00],
    ['10934','王武',10100.00 ,2000.00 ,2500.00 ,860.00 ,500.00 ,1500.00],
    ['10935','赵柳',10050.00 ,1000.00 ,2700.00 ,1080.00 ,300.00 ,2000.00],
    ['10936','钱棋',10200.00 ,2000.00 ,2400.00 ,1000.00 ,600.00 ,1000.00],
    ['10941','张明',13600.00 ,4000.00 ,2100.00 ,680.00 ,300.00 ,1000.00],
    ['10942','赵敏',13200.00 ,2500.00 ,2300.00 ,670.00 ,400.00 ,3000.00],
    ['10945','王红',13600.00 ,2600.00 ,2030.00 ,560.00 ,400.00 ,2000.00],
    ['10946','李萧',12500.00 ,2800.00 ,2400.00 ,420.00 ,500.00 ,1500.00],
    ['10947','孙科',12000.00 ,3500.00 ,2030.00 ,880.00 ,300.00 ,1000.00],
    ['10948','刘利',14200.00 ,2500.00 ,2020.00 ,900.00 ,400.00 ,2000.00]
]

In [45]:
incomeList

[['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0],
 ['10933', '李思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0],
 ['10936', '钱棋', 10200.0, 2000.0, 2400.0, 1000.0, 600.0, 1000.0],
 ['10941', '张明', 13600.0, 4000.0, 2100.0, 680.0, 300.0, 1000.0],
 ['10942', '赵敏', 13200.0, 2500.0, 2300.0, 670.0, 400.0, 3000.0],
 ['10945', '王红', 13600.0, 2600.0, 2030.0, 560.0, 400.0, 2000.0],
 ['10946', '李萧', 12500.0, 2800.0, 2400.0, 420.0, 500.0, 1500.0],
 ['10947', '孙科', 12000.0, 3500.0, 2030.0, 880.0, 300.0, 1000.0],
 ['10948', '刘利', 14200.0, 2500.0, 2020.0, 900.0, 400.0, 2000.0]]

In [46]:
totalSalary = 0
for i in range(len(incomeList)):
    totalSalary = totalSalary + incomeList[i][2]
print('所有人的基本工资和为：', totalSalary)

所有人的基本工资和为： 136450.0

列表可以通过for…in语句对其元素进行遍历，基本语法结构如下：
```Python
for <任意变量名> in <列表名>:
             语句块
```

In [49]:
universityList

['西南财大', '四川大学', '西南交通大学']

In [48]:
for name in universityList:
    print(name)

西南财大
四川大学
西南交通大学

**课堂练习**

利用for...in语句计算基本工资在12000元以上的所有人奖金的平均值？

## 2.10 in 和not in 操作符
利用in 和not in 操作符，可以确定一个值否在列表中。像其他操作符一样，in和not in 用在表达式中，连接两个值：一个要在列表中查找的值，以及待查找
的列表。这些表达式将求值为布尔值。

In [50]:
'西南财大' in universityList

True

In [51]:
'西南财大' not in universityList

False

In [52]:
'西南' in universityList

False

In [53]:
'西南' in universityList[0]

True

## 2.11 多重赋值技巧
多重赋值技巧是一种快捷方式，让你在一行代码中，用列表中的值为多个变量赋值。(这种方式常见于元组类型)

In [56]:
employeeBasicInfo = incomeList[0][:3]
employeeBasicInfo

['10932', '张珊', 15000.0]

In [57]:
type(employeeBasicInfo)

list

In [59]:
employeeNo, name, salary = employeeBasicInfo

In [61]:
print('编号为{}的员工{}基本工资为：{:.2f}'.format(employeeNo, name, salary))

编号为10932的员工张珊基本工资为：15000.00

## 2.12 用index()方法在列表中查找值
列表值有一个index()方法，可以传入一个值，如果该值存在于列表中，就返回它的下标。如果该值不在列表中，Python 就报ValueError。

In [62]:
universityList

['西南财大', '四川大学', '西南交通大学']

In [63]:
universityList.index('四川大学')

1

In [64]:
universityList.index('西南财经大学')

ValueError: '西南财经大学' is not in list

如果列表中存在重复的值，就返回它第一次出现的下标。

In [66]:
universityList *= 2
universityList

['西南财大', '四川大学', '西南交通大学', '西南财大', '四川大学', '西南交通大学']

In [67]:
universityList.index('西南交通大学')

2

# 2.13 用append()和insert()方法在列表中添加值
要在列表中添加新值，就使用append()和 insert()方法。

In [68]:
universityList = ['西南财大', '电子科技大学', '四川大学', '西南交通大学']
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学']

In [69]:
universityList.append('成都理工大学')

In [70]:
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学', '成都理工大学']

In [71]:
universityList.insert(1, '四川农业大学')

In [72]:
universityList

['西南财大', '四川农业大学', '电子科技大学', '四川大学', '西南交通大学', '成都理工大学']

append()和insert()都不会将universityList的新值作为其返回值（实际上，append()和insert()的返回值是None，所以你肯定不希望将它保存为变量的新值）。但是，***列表被“当场”修改了***。

** 课堂练习 **

筛选出基本工资+奖金+住房补助在18000.00元以上的员工，插入到新的数组highIncomeList当中

In [73]:
# 编号,姓名,基本工资,奖金,住房补助,五险一金,其他扣款,专项附加扣除
incomeList = [
    ['10932','张珊',15000.00 ,4000.00 ,2300.00 ,980.00 ,300.00 ,1000.00],
    ['10933','李思',12000.00 ,5000.00 ,2600.00 ,890.00 ,400.00 ,2000.00],
    ['10934','王武',10100.00 ,2000.00 ,2500.00 ,860.00 ,500.00 ,1500.00],
    ['10935','赵柳',10050.00 ,1000.00 ,2700.00 ,1080.00 ,300.00 ,2000.00],
    ['10936','钱棋',10200.00 ,2000.00 ,2400.00 ,1000.00 ,600.00 ,1000.00],
    ['10941','张明',13600.00 ,4000.00 ,2100.00 ,680.00 ,300.00 ,1000.00],
    ['10942','赵敏',13200.00 ,2500.00 ,2300.00 ,670.00 ,400.00 ,3000.00],
    ['10945','王红',13600.00 ,2600.00 ,2030.00 ,560.00 ,400.00 ,2000.00],
    ['10946','李萧',12500.00 ,2800.00 ,2400.00 ,420.00 ,500.00 ,1500.00],
    ['10947','孙科',12000.00 ,3500.00 ,2030.00 ,880.00 ,300.00 ,1000.00],
    ['10948','刘利',14200.00 ,2500.00 ,2020.00 ,900.00 ,400.00 ,2000.00]
]

## 2.14 使用extend()或+=合并列表
使用extend() 可以将一个列表合并到另一个列表中。

In [94]:
universityList = ['西南财大', '电子科技大学', '四川大学', '西南交通大学']
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学']

In [95]:
universityList.extend(['清华大学','北京大学'])
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学', '清华大学', '北京大学']

也可以使用+=：

In [96]:
universityList = ['西南财大', '电子科技大学', '四川大学', '西南交通大学']
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学']

In [97]:
universityList += ['清华大学','北京大学']
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学', '清华大学', '北京大学']

注意区分append()和extend()方法：

In [98]:
universityList = ['西南财大', '电子科技大学', '四川大学', '西南交通大学']
universityList.append(['清华大学','北京大学'])
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学', ['清华大学', '北京大学']]

In [99]:
universityList = ['西南财大', '电子科技大学', '四川大学', '西南交通大学']
universityList.extend(['清华大学','北京大学'])
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学', '清华大学', '北京大学']

## 2.15 用remove()方法从列表中删除值
给 remove()方法传入一个值，它将从被调用的列表中删除。

In [74]:
universityList

['西南财大', '四川农业大学', '电子科技大学', '四川大学', '西南交通大学', '成都理工大学']

In [75]:
universityList.remove('四川大学')
universityList

['西南财大', '四川农业大学', '电子科技大学', '西南交通大学', '成都理工大学']

试图删除列表中不存在的值，将导致ValueError 错误。

In [76]:
universityList.remove('清华大学')

ValueError: list.remove(x): x not in list

如果该值在列表中出现多次，只有第一次出现的值会被删除。

In [77]:
universityList *= 2
universityList

['西南财大',
 '四川农业大学',
 '电子科技大学',
 '西南交通大学',
 '成都理工大学',
 '西南财大',
 '四川农业大学',
 '电子科技大学',
 '西南交通大学',
 '成都理工大学']

In [78]:
universityList.remove('电子科技大学')
universityList

['西南财大',
 '四川农业大学',
 '西南交通大学',
 '成都理工大学',
 '西南财大',
 '四川农业大学',
 '电子科技大学',
 '西南交通大学',
 '成都理工大学']

* 如果知道想要删除的值在列表中的下标，del 语句就很好用。
* 如果知道想要从列表中删除的值，remove()方法就很好用。

## 2.16 用sort()方法将列表中的值排序
数值的列表或字符串的列表，能用sort()方法排序。sort()方法**当场**对列表排序

In [79]:
numberList = [2, 10, 3.14, -20, -50]
numberList

[2, 10, 3.14, -20, -50]

In [80]:
numberList.sort()

In [81]:
numberList

[-50, -20, 2, 3.14, 10]

也可以指定**reverse**关键字参数为True，让sort()按逆序排序。

In [82]:
numberList.sort(reverse=True)

In [83]:
numberList

[10, 3.14, 2, -20, -50]

不能对既有数字又有字符串值的列表排序，因为Python 不知道如何比较它们。

In [84]:
moreList = numberList + universityList
moreList

[10,
 3.14,
 2,
 -20,
 -50,
 '西南财大',
 '四川农业大学',
 '西南交通大学',
 '成都理工大学',
 '西南财大',
 '四川农业大学',
 '电子科技大学',
 '西南交通大学',
 '成都理工大学']

In [85]:
moreList.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

sort()方法对字符串排序时，使用“ASCII 字符顺序”，而不是实际的字典顺序。这意味着大写字母排在小写字母之前。因此在排序时，小写的a 在大写的
Z 之后:

In [87]:
someWords = ['Alice', 'ants', 'Bob', 'badgers', 'Carol', 'cats']
someWords

['Alice', 'ants', 'Bob', 'badgers', 'Carol', 'cats']

In [88]:
someWords.sort()

In [89]:
someWords

['Alice', 'Bob', 'Carol', 'ants', 'badgers', 'cats']

***扩展***
sort()方法有一个key的关键字参数，可以指定排序方法，例如：

In [90]:
someWords = ['Alice', 'ants', 'Bob', 'badgers', 'Carol', 'cats']
someWords

['Alice', 'ants', 'Bob', 'badgers', 'Carol', 'cats']

In [91]:
someWords.sort(key=len)
someWords #按照每一项的长度进行排序

['Bob', 'ants', 'cats', 'Alice', 'Carol', 'badgers']

In [93]:
someWords.sort(key=lambda x: x[1])
someWords #按照每一项的第二个字符进行排序

['cats', 'Carol', 'badgers', 'Alice', 'ants', 'Bob']

## 2.17 使用count()记录特定值出现的次数
使用count() 可以记录某一个特定值在列表中出现的次数：

In [100]:
universityList = ['西南财大', '电子科技大学', '四川大学', '西南交通大学'] * 2
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学', '西南财大', '电子科技大学', '四川大学', '西南交通大学']

In [102]:
universityList.count( '电子科技大学')

2

## 2.18 基本统计值计算
以最简单的统计问题为例，求解一组不定长数据的基本统计值，即平均值、标准差、中位数。
 
一组数据表示为$S = s_{0}, s_{1}, …, s_{n-1}$，其算术平均值表示为：

$m = (\sum_{i=0}^{n-1}s_{i})/n$

标准差表示为：

$d = \sqrt{(\sum_{i=0}^{n-1}(s_{i}-m)^2)/(n-1)}$

由于平均数、标准差和中位数是三个不同的计算目标，使用函数方式编写计算程序。<br>
* getNum()函数从用户输入获得数据<br>
* mean()函数计算平均值<br>
* dev()函数计算标准差<br>
* median()函数计算中位数<br>

In [184]:
from math import sqrt
def getNum():       #获取用户输入
    nums = []
    iNumStr = input("请输入数字(直接输入回车退出): ")
    while iNumStr != "":
        nums.append(eval(iNumStr))
        iNumStr = input("请输入数字(直接输入回车退出): ")
    return nums

def mean(numbers):  #计算平均值
    s = 0.0
    for num in numbers:
        s = s + num
    return s / len(numbers)

def dev(numbers, mean): #计算方差
    sdev = 0.0
    for num in numbers:
        sdev = sdev + (num - mean)**2
    return sqrt(sdev / (len(numbers)-1))

def median(numbers):    #计算中位数
    sorted(numbers)
    size = len(numbers)
    if size % 2 == 0:
        med = (numbers[size//2-1] + numbers[size//2])/2
    else:
        med = numbers[size//2]
    return med

n =  getNum()  #主体函数
m =  mean(n)
print("平均值:{},方差:{:.2},中位数:{}.".format(m,dev(n,m),median(n)))

请输入数字(直接输入回车退出): 99
请输入数字(直接输入回车退出): 98
请输入数字(直接输入回车退出): 97
请输入数字(直接输入回车退出): 96
请输入数字(直接输入回车退出): 95
请输入数字(直接输入回车退出):
平均值:97.0,方差:1.6,中位数:97.

# 列表综合实例：个人所得税计算

计算所有员工1月份的应交所得税和实发工资，并按照工资升序打印出工资详情（包括应交所得税和实发工资）：<br>

2019年个人所得税税率参照表：

|级数|全年应纳税所得额|税率|速算扣除数|
|--|:--------|--|-----|
|1|不超过36000元的部分|3%|0|
|2|超过36000至144000元的部分|10%|2520|
|3|超过144000至300000元的部分|20%|16920|
|4|超过300000至420000元的部分|25%|31920|
|5|超过420000至660000元的部分|30%|52920|
|6|超过660000至960000元的部分|35%|85920|
|7|超过960000的部分|45%|181920|

累计预扣预缴应纳税所得额计算方法：
**<center>累计预扣预缴应纳税所得额=累计正常收入 - 累计5000元免征额 - 累计五险一金 - 累计专项附加扣除 - 累计其他扣除</center>**
个人所得税计算方法：
**<center>个人所得税=应纳税所得额 * 对应税率 - 速算扣除数 - 已预缴预扣税额</center>**

打印结果应如下图所示：<br>
<img src='Images/taxCase1.png' width=80%>

In [162]:
# 2019年开始，个人所得税将采取累计预扣法计算，方法比较复杂。为简化操作，该函数仅计算1月份的工资情况，即不存在累计问题。


# 编号,姓名,基本工资,奖金,住房补助,五险一金,其他扣款,专项附加扣除
incomeList = [
    ['10932','张珊',15000.00 ,4000.00 ,2300.00 ,980.00 ,300.00 ,1000.00],
    ['10933','李思',12000.00 ,5000.00 ,2600.00 ,890.00 ,400.00 ,2000.00],
    ['10934','王武',10100.00 ,2000.00 ,2500.00 ,860.00 ,500.00 ,1500.00],
    ['10935','赵柳',10050.00 ,1000.00 ,2700.00 ,1080.00 ,300.00 ,2000.00],
    ['10936','钱棋',10200.00 ,2000.00 ,2400.00 ,1000.00 ,600.00 ,1000.00],
    ['10941','张明',13600.00 ,4000.00 ,2100.00 ,680.00 ,300.00 ,1000.00],
    ['10942','赵敏',13200.00 ,2500.00 ,2300.00 ,670.00 ,400.00 ,3000.00],
    ['10945','王红',13600.00 ,2600.00 ,2030.00 ,560.00 ,400.00 ,2000.00],
    ['10946','李萧',12500.00 ,2800.00 ,2400.00 ,420.00 ,500.00 ,1500.00],
    ['10947','孙科',12000.00 ,3500.00 ,2030.00 ,880.00 ,300.00 ,1000.00],
    ['10948','刘利',14200.00 ,2500.00 ,2020.00 ,900.00 ,400.00 ,2000.00]
]

# 3. 元组
除了两个方面，“元组”数据类型几乎与列表数据类型一样。
* 首先，元组输入时用圆括号()，而不是用方括号[]。

In [164]:
universityTuple = ('西南财大', '电子科技大学', '四川大学', '西南交通大学')
universityTuple

('西南财大', '电子科技大学', '四川大学', '西南交通大学')

In [165]:
type(universityTuple)

tuple

* 元组与列表的主要区别还在于，元组像字符串一样，是***不可变的***。元组不能让它们的值被修改、添加或删除

In [166]:
universityTuple[0] = '西南财经大学'

TypeError: 'tuple' object does not support item assignment

如果元组中只有一个值，你可以在括号内该值的后面跟上一个逗号，表明这种情况。否则，Python 将认为，你只是在一个普通括号内输入了一个值。逗号告诉
Python，这是一个元组（不像其他编程语言，Python 接受列表或元组中最后表项后面跟的逗号）。

In [167]:
myUniversity = ('西南财经大学')
type(myUniversity)

str

In [168]:
myUniversity = ('西南财经大学',)
type(myUniversity)

tuple

利用你可以用元组告诉所有读代码的人，你不打算改变这个序列的值。如果需要一个永远不会改变的值的序列，就使用元组。使用元组而不是列表的第二个好处在于，因为它们是不可变的，它们的内容不会变化，Python 可以实现一些**优化**，让使用元组的代码比使用列表的代码更快。

## 3.1 使用()创建元组
可以用() 创建一个空元组：

In [173]:
empty_tuple = ()
empty_tuple

()

创建包含一个或多个元素的元组时，每一个元素后面都需要跟着一个逗号，即使只包含一个元素也不能省略，括号可以省略：

In [174]:
myUniversity = '西南财经大学',
type(myUniversity)

tuple

## 3.2 用list()和tuple()函数来转换类型
函数list()和tuple()将返回传递给它们的值的列表和元组版本。

In [169]:
incomeList = [
    ['10932','张珊',15000.00 ,4000.00 ,2300.00 ,980.00 ,300.00 ,1000.00],
    ['10933','李思',12000.00 ,5000.00 ,2600.00 ,890.00 ,400.00 ,2000.00],
    ['10934','王武',10100.00 ,2000.00 ,2500.00 ,860.00 ,500.00 ,1500.00],
    ['10935','赵柳',10050.00 ,1000.00 ,2700.00 ,1080.00 ,300.00 ,2000.00],
    ['10936','钱棋',10200.00 ,2000.00 ,2400.00 ,1000.00 ,600.00 ,1000.00],
    ['10941','张明',13600.00 ,4000.00 ,2100.00 ,680.00 ,300.00 ,1000.00],
    ['10942','赵敏',13200.00 ,2500.00 ,2300.00 ,670.00 ,400.00 ,3000.00],
    ['10945','王红',13600.00 ,2600.00 ,2030.00 ,560.00 ,400.00 ,2000.00],
    ['10946','李萧',12500.00 ,2800.00 ,2400.00 ,420.00 ,500.00 ,1500.00],
    ['10947','孙科',12000.00 ,3500.00 ,2030.00 ,880.00 ,300.00 ,1000.00],
    ['10948','刘利',14200.00 ,2500.00 ,2020.00 ,900.00 ,400.00 ,2000.00]
]
type(incomeList)

list

In [170]:
incomeTuple = tuple(incomeList)
type(incomeTuple)

tuple

In [171]:
incomeTuple

(['10932', '张珊', 15000.0, 4000.0, 2300.0, 980.0, 300.0, 1000.0],
 ['10933', '李思', 12000.0, 5000.0, 2600.0, 890.0, 400.0, 2000.0],
 ['10934', '王武', 10100.0, 2000.0, 2500.0, 860.0, 500.0, 1500.0],
 ['10935', '赵柳', 10050.0, 1000.0, 2700.0, 1080.0, 300.0, 2000.0],
 ['10936', '钱棋', 10200.0, 2000.0, 2400.0, 1000.0, 600.0, 1000.0],
 ['10941', '张明', 13600.0, 4000.0, 2100.0, 680.0, 300.0, 1000.0],
 ['10942', '赵敏', 13200.0, 2500.0, 2300.0, 670.0, 400.0, 3000.0],
 ['10945', '王红', 13600.0, 2600.0, 2030.0, 560.0, 400.0, 2000.0],
 ['10946', '李萧', 12500.0, 2800.0, 2400.0, 420.0, 500.0, 1500.0],
 ['10947', '孙科', 12000.0, 3500.0, 2030.0, 880.0, 300.0, 1000.0],
 ['10948', '刘利', 14200.0, 2500.0, 2020.0, 900.0, 400.0, 2000.0])

## 3.3 元组解包
可以一口气将元组赋值给多个变量，这个过程被称为元组解包。

In [180]:
employeeInfo = tuple(incomeList[-1][:2])
type(employeeInfo)

tuple

In [181]:
employeeInfo

('10948', '刘利')

In [182]:
empNo, empName = employeeInfo

In [183]:
print(empNo)
print(empName)

10948
刘利

## 3.4 元组与列表
在许多地方都可以用元组代替列表，但元组的方法函数与列表相比要少一些——元组没有append()、insert()，等等——因为一旦创建元组便无法修改。既然列表更加灵活，那为什么不在所有地方都使用列表呢？原因如下所示：
* 元组占用的空间较小
* 你不会意外修改元组的值
* 可以将元组用作字典的键
* 函数的参数是以元组形式传递的

# 4. 集合
很久以前，当你还在小学时，可能就学到过一些关于集合论的知识。下图展示了对于集合进行的最基本的操作——交和并。
<img src='Images/set.png' width=80%>

集合类型与数学中集合的概念一致，即包含0个或多个数据项的无序组合。集合中元素**不可重复**，元素类型只能是固定数据类型，例如：整数、浮点数、字符串、元组等，列表、字典和集合类型本身都是可变数据类型，不能作为集合的元素出现。

## 4.1 使用set()创建集合
可以使用set() 函数创建一个集合，或者用大括号将一系列以逗号隔开的值包裹起来，如下所示：

In [185]:
universitySet = set('西南财大', '电子科技大学', '四川大学', '西南交通大学')

TypeError: set expected at most 1 arguments, got 4

In [186]:
universitySet = set(['西南财大', '电子科技大学', '四川大学', '西南交通大学'])
universitySet

{'四川大学', '电子科技大学', '西南交通大学', '西南财大'}

In [187]:
universitySet = {'西南财大', '电子科技大学', '四川大学', '西南交通大学'}
universitySet

{'四川大学', '电子科技大学', '西南交通大学', '西南财大'}

*** 由于[] 能创建一个空列表，你可能期望{}也能创建空集。但事实上，{}会创建一个空字典。***

由于集合是**无序组合**，它没有索引和位置的概念，不能分片，集合中元素可以动态增加或删除。

In [192]:
universitySet[0]

TypeError: 'set' object does not support indexing

In [193]:
universitySet[1:3]

TypeError: 'set' object is not subscriptable

## 4.2 使用set()将其他类型转换为集合
可以利用已有列表、字符串、元组或字典的内容来创建集合，其中重复的值会被丢弃。

In [188]:
universityList = ['西南财大', '电子科技大学', '四川大学', '西南交通大学'] * 2
universityList

['西南财大', '电子科技大学', '四川大学', '西南交通大学', '西南财大', '电子科技大学', '四川大学', '西南交通大学']

In [189]:
universitySet = set(universityList)
universitySet

{'四川大学', '电子科技大学', '西南交通大学', '西南财大'}

由于集合元素独一无二，使用集合类型能够**过滤掉重复元素**。

In [196]:
set('letters')

{'e', 'l', 'r', 's', 't'}

## 4.3 使用in测试值是否存在
这是集合里最常用的功能。

In [198]:
"BIT" in {"PYTHON", "BIT", 123, "GOOD"} #成员关系测试

True

## 4.4 删除数据项
集合类型与其他类型最大的不同在于它不包含重复元素，因此，当需要对一维数据进行去重或进行数据重复处理时，一般通过集合来完成。

In [199]:
tup = ("PYTHON", "BIT", 123, "GOOD", 123)
tup

('PYTHON', 'BIT', 123, 'GOOD', 123)

In [201]:
newtup = tuple(set(tup)-{'PYTHON'}) 
newtup

('GOOD', 123, 'BIT')

## 4.3 集合类型的操作符 、函数或方法

**集合类型有10个操作符:**

|操作符|描述|
|:-----:|:-------|
|S – T 或 S.difference(T)|返回一个新集合，包括在集合S中但不在集合T中的元素|
|S-=T或S.difference_update(T)|更新集合S，包括在集合S中但不在集合T中的元素|
|S & T或S.intersection(T)|返回一个新集合，包括同时在集合S和T中的元素|
|S&=T或S.intersection_update(T)|更新集合S，包括同时在集合S和T中的元素。|
|S^T或s.symmetric_difference(T)|返回一个新集合，包括集合S和T中元素，但不包括同时在其中的元素|
|S=^T或s.symmetric_difference_update(T)|更新集合S，包括集合S和T中元素，但不包括同时在其中的元素||
|S&#124;T或S.union(T)|返回一个新集合，包括集合S和T中所有元素|
|S=&#124;T或S.update(T)|更新集合S，包括集合S和T中所有元素||
|S<=T或S.issubset(T)|如果S与T相同或S是T的子集，返回True，否则返回False，可以用S<T判断S是否是T的真子集|
|S>=T或S.issuperset(T)|如果S与T相同或S是T的超集，返回True，否则返回False，可以用S>T判断S是否是T的真超集|

上述操作符表达了集合类型的4种基本操作，交集（&）、并集（|）、差集（-）、补集（^），操作逻辑与数学定义相同：
<img src='Images/set2.png' width=80%>

**集合类型有10个操作函数或方法:**

|函数或方法|描述|
|:-----:|:-------|
|S.add(x)|如果数据项x不在集合S中，将x增加到s|
|S.clear()|移除S中所有数据项|
|S.copy()|返回集合S的一个拷贝|
|S.pop()|随机返回集合S中的一个元素，如果S为空，产生KeyError异常|
|S.discard(x)|如果x在集合S中，移除该元素；如果x不在，不报错|
|S.remove(x)|如果x在集合S中，移除该元素；不在产生KeyError异常|
|S.isdisjoint(T)|如果集合S与T没有相同元素，返回True|
|len(S)|返回集合S元素个数|
|x in S|如果x是S的元素，返回True，否则返回False|
|x not in S|如果x不是S的元素，返回True，否则返回False|

## 集合实例：作业统计
假设你是程序设计与应用Python的助教，现在老师需要统计作业情况。假设你已经会自动收取电子邮件，并且保存附件（实际上在后面的部分会介绍），如果你已经将作业1和作业2的邮件保存在两个不同的文件夹，并且学会了怎么读取文件夹里的列表（后面部分也会介绍，不着急），如果你已经将作业1和作业2的文件夹内容分别放进了homework1和homework2集合中：

In [206]:
homework1 = {'作业1_41705560.eml','作业1_41706760.eml','作业1_41705661.eml','作业1_41701560.eml','作业1_41705791.eml'}
homework2 = {'作业2_41708560.eml','作业2_41706760.eml','作业2_41706661.eml','作业2_41701560.eml','作业2_41705791.eml'}

现在需要做以下统计：

* 两次作业都交了的同学有哪些？
* 至少交了一次作业的同学有哪些？
* 哪些同学只交了一次作业？
* 只交了第一次作业的同学有哪些？

# 小结
列表是有用的数据类型，因为它们让你写代码处理一组可以修改的值，同时仅用一个变量。在后面的部分中，你会看到一些程序利用列表来完成工作。没有
列表，这些工作很困难，甚至不可能完成。

列表是可变的，这意味着它们的内容可以改变。

元组和字符串虽然在某些方面像列表，却是不可变的，不能被修改。包含一个元组或字符串的变量，可以被一个新的元组或字符串覆写，但这和现场修改原来的值不是一回事，不像append()和remove()方法在列表上的效果。

集合元素是无序的，它没有索引和位置的概念，不能分片，集合中元素可以动态增加或删除。主要用于三个场景：成员关系测试、元素去重和删除数据项。

## 练习
**(1)** 什么是[]？<br>

**(2)** 假定myList 包含列表['a', 'b', 'c', 'd']<br>
myList[int('3' * 2) / 11]求值为多少？<br>
myList[-1]求值为多少？<br>
myList[:2]求值为多少？<br>

**(3)** 假定bacon 包含列表[3.14, 'cat', 11, 'cat', True]。<br>
bacon.index('cat')求值为多少？<br>
bacon.append(99)让bacon 中的列表值变成什么样？<br>
bacon.remove('cat')让bacon 中的列表时变成什么样？<br>

**(4)** append()和insert()列表方法之间的区别是什么？<br>

**(5)** 请说出列表值和字符串的几点相似之处。<br>

**(6)** 列表和元组之间的区别是什么？<br>

**(7)** 如果元组中只有一个整数值42，如何输入该元组？<br>

## 作业
**(1) 字符图网格** <br>
假定有一个列表的列表，内层列表的每个值都是包含一个字符的字符串，像这样：

In [209]:
grid = [['.', '.', '.', '.', '.', '.'],
['.', 'O', 'O', '.', '.', '.'],
['O', 'O', 'O', 'O', '.', '.'],
['O', 'O', 'O', 'O', 'O', '.'],
['.', 'O', 'O', 'O', 'O', 'O'],
['O', 'O', 'O', 'O', 'O', '.'],
['O', 'O', 'O', 'O', '.', '.'],
['.', 'O', 'O', '.', '.', '.'],
['.', '.', '.', '.', '.', '.']]

In [210]:
grid

[['.', '.', '.', '.', '.', '.'],
 ['.', 'O', 'O', '.', '.', '.'],
 ['O', 'O', 'O', 'O', '.', '.'],
 ['O', 'O', 'O', 'O', 'O', '.'],
 ['.', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', '.'],
 ['O', 'O', 'O', 'O', '.', '.'],
 ['.', 'O', 'O', '.', '.', '.'],
 ['.', '.', '.', '.', '.', '.']]

你可以认为grid[x][y]是一幅“图”在x、y 坐标处的字符，该图由文本字符组成。原点(0, 0)在左上角，向右x 坐标增加，向下y 坐标增加。

复制前面的网格值，编写代码用它打印出图像。如下图：

<img src="Images/homework51.png" width=80%>

注意，你打印出来的<font color=red>不应该</font>是：

<img src="Images/homework51Wrong.png" width=80%>

**(2) ** 将课本P180页6.1，6.2的**程序代码及调用运行结果**分别截图保存。

将3个截图作为第5次作业的附件，发送到xzl_swufe@163.com。<br><br>
<b><font color=red>邮件标题必须类似于：作业5_12345678。</font>其中12345678需要替换成你的学号。<br><br><b><font color=red>邮件标题必须类似于：作业5_12345678。</font>其中12345678需要替换成你的学号。<br><br><b><font color=red>邮件标题必须类似于：作业5_12345678。</font>其中12345678需要替换成你的学号。